<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>963225270978-poqitvp33u7i8jb1rca9ocbcno0ehsrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963225270978-poqitvp33u7i8jb1rca9ocbcno0ehsrl</string>
	<key>API_KEY</key>
	<string>AIzaSyDD1FBQNQ59bIfeUtjZT2lO1Wc_F3_5oOg</string>
	<key>GCM_SENDER_ID</key>
	<string>963225270978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.touchideation.caloriecache</string>
	<key>PROJECT_ID</key>
	<string>caloriecache-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>caloriecache-beta.appspot.com</string>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:963225270978:ios:617abc74cc7b5192</string>
	<key>DATABASE_URL</key>
	<string>https://caloriecache-beta.firebaseio.com</string>
</dict>
</plist>
